.footer
  height: 50px
  transition: .5s
  display: flex
  align-items: center
  justify-content: flex-end
  text-transform: uppercase
  width: 100%
  max-width: 1920px
  background-color: $main-color
  &--strip
    font-family: LatoBold
    font-size: 16px
    margin-right: 20px
    color: white
    &:hover
      transition: .5s
      color: $side-color
      cursor: pointer
