$main-color: rgb(66,68,72)
$main-color-dark: rgb(39,39,39)
$main-color-light: rgb(235,235,235)
$main-color-border: rgb(220,220,220)
$side-color: rgb(242,123,71)

@import './Fonts.sass'
@import './Layout.sass'
@import './Header.sass'
@import './Content.sass'
@import './Category.sass'
@import './ListCourses'
@import './Course'
@import './TopBlock'
@import './Info.sass'
@import './Login.sass'
@import './Footer.sass'
:focus
  outline: none

body
  color: $main-color
  margin: 0 auto
  max-width: 1903px
  min-width: 1024px
  font-family: Lato
